$font-base-size: 30px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$hTagColors: #25262B;
$pTagColors: #0A0E11;
$inputTagColors: #501426;
$border-radius: 50px;
$tableBorder: #6F0A1C;
$rowBorder: #501426;
$figTagColors: #0A0E11;
