$font-base-size: 30px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$hTagColors: #25262b;
$pTagColors: #0a0e11;
$inputTagColors: #501426;
$border-radius: 50px;
$tableBorder: #6f0a1c;
$rowBorder: #501426;
$figTagColors: #0a0e11;
$bodyTagColors: #501426;
