@import "_variable";

input[type="text"],
textarea {
    font-size  : $font-base-size * 0.5;
    font-family: $serif-fonts;
    color      : $inputTagColors;
}

img,
input[type="password"],
input[type="text"],
textarea {
    border-radius: $border-radius;
}

figcaption {
    font-size: $font-base-size * 0.45;
    color    : $figTagColors;
}

p {
    font-size: $font-base-size * 0.85;
    color    : $pTagColors;

    a {
        font-size: $font-base-size * 0.5;
    }
}

a {
    font-size: $font-base-size * 0.75;
}

h1,
h2,
h5 {
    color: $hTagColors;
}

h1 {
    font-size: $font-base-size * 1.0;
}

h2 {
    font-size: $font-base-size * 0.9;
}

h3 {
    font-size: $font-base-size * 0.8;
}

h4 {
    font-size: $font-base-size * 0.7;
}

h5 {
    font-size: $font-base-size * 0.6;
}

h6 {
    font-size: $font-base-size * 0.5;
}

input [type="radio"] {}

body {
    background-color: lighten($bodyTagColors, 50%);
}

* {
    font-family: $serif-fonts;
}

.button {
    color       : $inputTagColors;
    border-color: $inputTagColors;
}

table {
    font-size: $font-base-size * 0.45;
    border   : 2px solid $tableBorder;

    td {
        border: 2px solid $rowBorder;
    }
}
